:root {
  --color-page-background: #12171C;
  --color-content-background: rgba(0,0,0,0.35);
  --color-content-foreground: #F5F5F5;
  --color-content-foreground-muted: rgba(245,245,245,0.35);
  --shadow-content: 0 17px 21px -20px rgba(0,0,0,0.3);
  --size-content: 75rem;
  --stack-level-1: 1;
  --stack-level-2: 10;
  --stack-level-3: 100;
  --transition-color: color ease 0.2s;
}
