:root {
  --color-dark-background: #283640;
  --color-dark-foreground: #FFFFFF;
  --color-dark-foreground-muted: #939A9F;
  --color-dark-divider: darkgray;
  --color-light-background: #FFFFFF;
  --color-light-foreground: #3B4141;
  --color-light-foreground-muted: #7F8383;
  --color-light-divider: gainsboro;
  --size-content: 75rem;
  --stack-level-1: 1;
  --stack-level-2: 10;
  --stack-level-3: 100;
}
