:root {
  --color-dark-background: #404951;
  --color-dark-foreground: #F2F1EF;
  --color-dark-foreground-muted: #fff;
  --color-dark-divider: darkgray;
  --color-light-background: #EEEEEE;
  --color-light-foreground: #2B2B2B;
  --color-light-foreground-muted: #7F8383;
  --color-light-divider: gainsboro;
  --size-content: 75rem;
  --stack-level-1: 1;
  --stack-level-2: 10;
  --stack-level-3: 100;
  --transition-color: color ease 0.2s;
}
