@import '../../styles/variables.css';

.weapons {
  background-color: var(--color-light-background);
  flex: 1;
  padding: 1rem 2rem;
}

.weapons-table {
  border-collapse: collapse;
}

.weapons-table-header,
.weapons-table-cell {
  padding: 0.5rem;
}

.weapons-table-header {
  border-bottom: 1px solid var(--color-light-divider);
  background-color: var(--color-light-background);
  font-weight: 500;
  text-align: left;
  position: sticky;
  z-index: var(--stack-level-1);
}

.weapons-table-header:first-child {
  left: 0;
}

.weapons-table-header[scope='col'] {
  color: var(--color-light-muted);
  font-size: small;
  text-align: right;
  text-transform: uppercase;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  white-space: nowrap;
  top: 0;
}

.weapons-table-header[scope='col']:first-child {
  width: 22ch;
  z-index: var(--stack-level-2);
}

.weapons-table-header[scope='col']:nth-child(-n+2) {
  text-align: left;
}

.weapons-table-header[scope='row'] {
  text-transform: capitalize;
}

.weapons-table-cell {
  border-bottom: 1px solid var(--color-light-divider);
  text-align: right;
}

.weapons-table-cell:first-of-type {
  text-align: left;
}

.weapon-type {
  opacity: 0.75;
  font-weight: normal;
}

@media (max-width: 40rem) {
  .weapons {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .weapons-table,
  .weapons-table-body,
  .weapons-table-row,
  .weapons-table-header {
    display: block;
  }

  .weapons-table-row {
    padding-top: 3rem;
    columns: 3;
    position: relative;
  }

  .weapons-table-row + .weapons-table-row {
    border-top: 1px solid var(--color-light-divider);
    margin-top: 1rem;
  }

  .weapons-table-header,
  .weapons-table-cell {
    border-bottom: none;
  }

  .weapons-table-header[scope='col'] {
    display: none;
  }

  .weapons-table-header[scope='row'] {
    padding-left: 0;
    position: absolute;
    top: 0;
  }

  .weapons-table-cell {
    font-size: x-small;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .weapons-table-cell:first-of-type {
    opacity: 0.5;
    line-height: 3rem;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    top: 0;
  }

  .weapons-table-cell + .weapons-table-cell::before {
    content: attr(data-header);
    opacity: 0.5;
  }
}
