@import '../../styles/variables.css';

.weapons {
  padding: 2rem;
  margin-left: 15rem;
}

.weapons-table {
  border-collapse: collapse;
  width: var(--size-content);
  margin: 0 auto;
}

.weapons-table-header,
.weapons-table-cell {
  padding: 0.5rem;
}

.weapons-table-header {
  background-color: var(--color-light-background);
  font-weight: 500;
  text-align: left;
  position: sticky;
  z-index: var(--stack-level-1);
}

.weapons-table-header:first-child {
  padding-left: 0;
  left: 0;
}

.weapons-table-header[scope='col'] {
  border-bottom: 1px solid var(--color-light-divider);
  color: var(--color-light-muted);
  text-align: right;
  text-transform: uppercase;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  top: 0;
}

.weapons-table-header[scope='col']:first-child {
  width: 22ch;
  padding-left: 0;
  z-index: var(--stack-level-2);
}

.weapons-table-header[scope='col']:nth-child(-n+2) {
  text-align: left;
}

.weapons-table-header[scope='col']::after {
  content: '';
  border-bottom: 3px solid red;
}

.weapons-table-header[scope='row'] {
  border-bottom: 1px solid var(--color-light-divider);
  text-transform: capitalize;
}

.weapons-table-cell {
  border-bottom: 1px solid var(--color-light-divider);
  text-align: right;
}

.weapons-table-cell:first-of-type {
  text-align: left;
}

.weapon-type {
  opacity: 0.75;
  font-weight: normal;
}
