@import '../../styles/variables.css';
@import '../../styles/reset.css';

.app {
  color: var(--color-light-foreground);
  font-family: -apple-system, Roboto, sans-serif;
  font-size: 0.85rem;
  min-height: 100vh;
}
