@import '../../styles/variables.css';
@import '../../styles/reset.css';

.app {
  background-color: var(--color-page-background);
  color: var(--color-content-foreground);
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: xx-large;
  font-weight: bold;
  text-transform: uppercase;
}
